<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="OperationMessageQueuePath" value="win81-tqgmg4i5\private$\HardWorkingQueue"/>
        <add key="ServiceDisplayName" value="My Custom Hard Working Service"/>
        <add key="ServiceDescription" value="A Windows Service that works really hard"/>
        <add key="SystemServiceName" value="HardWorkingService" />
    </appSettings>
</configuration>